<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Le juste prix | <%= data.header.title %></title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- SCRIPT JS -->
  </head>
  <body>
    <header>
      <span>Le juste Prix</span>
      <%- include("./_nav.ejs") %>
    </header>
  </body>
</html>
