<nav>
  <ul>
    <li><a class="btn btn-white" href="/">Home</a></li>
    <% if ( !data.header.connected.user && !data.header.connected.admin ) { %>
    <li><a class="btn btn-warning" href="/login/admin">Admin Access</a></li>
    <% } if ( data.header.connected.admin ) { %>
    <li><a class="btn btn-primary" href="/login/user">User Access</a></li>
    <% } if ( data.header.connected.user ) { %>
    <li><a class="btn btn-success" href="/play">Play</a></li>
    <li><a class="btn btn-warning" href="/play/config">Config</a></li>
    <li><a class="btn btn-danger" href="/logout">Logout</a></li>
    <% } %>
  </ul>
</nav>
