<%- include("../partials/_header.ejs") %>
<main>
  <img src="./images/juste_prix.jpg" alt="" />
  <article>
    <h1><%= data.body.h1 %></h1>
    <p>
      Bienvenue sur le jeu du juste prix. Pour jouer il faudra qu'un
      administrateur s'occupe de générer un jeu et ensuite vous pourrez vous
      amusez tranquillement.
    </p>
  </article>
</main>
<%- include("../partials/_footer.ejs") %>
