<%- include("../partials/_header.ejs") %>
<main>
  <img src="/images/login.jpg" alt="" />
  <article>
    <h1><%= data.body.h1 %></h1>
    <p>
      Avant de pouvoir jouer, tu comprendras qu'un administrateur doit avant tout configurer le jeu.<br /><br />
      c'est pour cette raison qu'il faut qu'il se connecte avant pour gérer avec toi le prix pour ne pas trop abusé.
    </p>
    <form action="/login/admin" method="post">
      <div class="form-container">
        <label for="login">Admin Login :</label>
        <input
          type="text"
          name="login"
          id="login"
          placeholder="login"
          autofocus
        />
      </div>
      <div class="form-container">
        <label for="password">Admin Password :</label>
        <input
          type="text"
          name="password"
          id="password"
          placeholder="Ton mot de passe ici"
        />
      </div>
      <button class="btn btn-primary type="submit">Se connecter</button>
    </form>
  </article>
</main>
<%- include("../partials/_footer.ejs") %>
